html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 10px;
    font-family: Aral, Helvetica, sans-serif;
    text-align: center;
    background:url(https://raw.githubusercontent.com/w3dding/wedding/main/images/content/blog_bg.jpg);
    background-size: cover;
}
a{
    display: inline-block;
}
b{
    display: block;
    padding: 10px;
}    
.b{
    font-size:55px;
    color: #f07677;
}
button{
    padding: 5px 10px;
}
img,
.image{
    width: 100vw;
    max-width: 600px;
    margin: 0vh 0vw;
}
.image{
    display: inline-block;
    height: 150vw;
    max-height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:1;
}
.spotlight.image{
    cursor: pointer;
}
.home{
    display: inline-block;
    width: auto;
    min-width: 150px;
    height: 50px;
    line-height: 49px;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: normal;
    background-color: #f07677;
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: none;
    padding: 0px 30px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
a {
    color: #797979;
    text-decoration: none;
}
a:hover, a:focus {
    color: #000;
    text-decoration: none;
}